/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/app/Classes/Integration1C/Request.php
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/node_modules
/public/storage
/storage/*.key
/storage/
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/bootstrap/cache
composer.lock
/public/js/chunks
/public/js/app.js
/public/js/app.js.map
/public/css/app.css
/public/css/app.css.map
/resources/assets/vendor/app.js
/public/hot
